/* Estilo global */
body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  background-color: #333;
}

.container {
  max-width: 1380px; /* Define a largura máxima */
  width: 100%; /* Permite que o conteúdo ocupe toda a largura da tela até 1280px */
  margin: 0 auto; /* Centraliza o conteúdo horizontalmente */
  padding: 0px; /* Espaçamento interno */
  background: white; /* Apenas para facilitar a visualização */
}

* {
  box-sizing: border-box; /* Evita que padding/border aumentem a largura dos elementos */
  
}
